<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.libandroid">

    <!--允许程序连接到已配对的蓝牙设备-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--允许程序发现和配对蓝牙设备-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>

        <!-- FileProvider配置访问路径，适配7.0及其以上 -->
        <!--
            authorities：app的包名.fileProvider
            grantUriPermissions：必须是true，表示授予 URI 临时访问权限
            exported：必须是false
            resource：中的@xml/file_paths是我们接下来要添加的文件
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.libandroid.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".BluetoothActivity"></activity>
        <activity android:name=".amap.AMapActivity"></activity>
        <activity android:name=".activities.BaseCameraActivity"></activity>
    </application>

</manifest>